@font-face {
    font-family: 'Tilda Sans VF';
    src: url('fonts/TildaSans-VF.woff') format('woff');
    font-style: normal;
}

html,
body{
    font-family: 'Tilda Sans VF' ;
    margin: 0;
    padding: 0;
    p{
        margin: 0;
    }
}

button{
    font-family: 'Tilda Sans VF' ;
    background: #A86540;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    color: #E5E5E5;
    cursor: pointer;
}

button:hover{
    background: transparent;
    border: 1px solid #A86540;
    transition: 500ms;
}

.container{
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    background: url('../img/headerBg.svg') no-repeat center center / cover;
    width: 100%;
    height: 684px;
    padding-top: 47px;
    color: #fff;
    //margin:0 20px;
    @media (max-width: 770px) {
        .header__title{
            font-size: 36px;
            padding: 20px 0 18px;
        }
        .header__cont-button{
            width: 215px;
            height: 49px;
            font-size: 15px;
        }
        .header__contTwo{
            margin-bottom: -15px;
        }
        .header__text{
            max-width: 288px;
        }
    }
    @media (max-width: 630px) {
        height: 630px;
        .container{
            padding: 0 20px;
        }
        .header__container{
            display: flex;
            flex-direction: column-reverse;
        }
        .header__cardsMedia{
            display: flex;
            flex-direction: column-reverse;
            gap: 30px;
            margin-bottom: 40px;
        }
        .header__cards{
            display: none;
        }
        .header__info{
            flex-direction: column;
            align-items: start;
            gap: 40px;
            margin-bottom: 0;
        }
        .header__inner{
            margin-bottom: 25px;
        }
        .header__title{
            font-size: 24px;
        }
        .header__contTwo{
            position: absolute;
            top: 124%;
            left: 0px;
            right: 0px;
        }
        .header__cont-button{
            width: 300px;
            height: 50px;
        }
    }
}

.header__cardsMedia{
    display: none;
}

.header__button{
    width: 188px;
    height: 41px;
}

.header__inner{
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 16px 11px 16px 14px;
    background: #00000066;
    border-radius: 9px;
    margin-bottom: 111px;
}

.burger{
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 2px;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 4px;
    padding: 8px;
    cursor: pointer;
    div{
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #fff;
    }
}

.header__subtitle{
    font-weight: 500;
}

.header__title{
    font-size: 42px;
    font-weight: 700;
    margin: 0;
    max-width: 531px;
    padding: 13px 0 25px;
}

.header__text{
    font-weight: 500;
}

.header__info{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 88px;
}

.header__contTwo{
    text-align: center;
}

.header__cont-text{
    font-weight: 500;
    padding-bottom: 15px;
}

.header__cont-button{
    width: 273px;
    height: 49px;
}

.header__cards{
    display: flex;
    gap: 87px;
}

.header__card{
    display: flex;
    gap: 17px;
    align-items: start;
}

.header__card-text{
    max-width: 237px;
    font-weight: 500;
    line-height: 19px;
}

.certificate{
    background: url('../img/certificateBg.svg') no-repeat center center / cover;
    width: 100%;
    height: 448px;
    margin-top: 56px;
    color: #fff;
    padding: 50px 0 32px;
    margin-bottom: 56px;
    @media(max-width: 990px){
        height: 360px;
        padding: 33px 0 71px;
        .container{
            max-width: 768px;
            margin: 0 auto;
        }
        .certificate__title{
            font-size: 26px;
            padding-bottom: 30px;
        }
        .certificate__claim-title{
            font-size: 26px;
            padding-bottom: 14px;
        }
        .certificate__claim-inputs{
            margin-top: 39px;
            input{
                width: 234px;
                height: 19px;
                font-size: 15px;
                padding: 8px 0 7px 15px;
            }
        }
        .certificate__cont{
            gap: 40px;
            justify-content: center;
        }
        .certificate__container{
            gap: 47px;
            img{
                width: 188px;
                height: 276px;
            }
        }
        .certificate__claim-button{
            width: 250px;
            height: 35px;
        }
        .certificate__claim-subtext{
            width: 250px;
            font-size: 14px;
        }
    }
    @media(max-width: 750px){
        height: 680px;
        padding: 20px 0;
        .container{
            max-width: 424px;
            margin: 0 auto;
        }
        .reviews__items{
            flex-direction: column-reverse;
            gap: 50px;
        }
        .reviews__img{
            display: flex;
            justify-content: center;
        }
        .certificate__title{
            padding-bottom: 12px;
            font-size: 20px;
        }
        .certificate__claim-title{
            font-size: 16px;
            padding-bottom: 10px;
        }
        .certificate__claim-text{
            font-size: 14px;
            text-align: center;
        }
        .certificate__cont{
            flex-direction: column;
            gap: 64px;
        }
        .certificate__claim{
            max-width: 272px;
            margin: 0 auto;
        }
        .certificate__claim-inputs{
            margin-top: 20px;
            margin-left: 11px;
        }
        .certificate__claim-button{
            margin-left: 11px;
            margin-bottom: 5px;
        }
        .certificate__claim-subtext{
            margin-left: 11px;
        }
        .certificate__claim-inputs input{
            height: 23px;
        }
    }
    @media(max-width: 450px){
        margin-bottom: 20px;
        height: 560px;
        .certificate__container{
            max-width: 336px;
            margin: 0 auto;
            gap: 20px;
            img{
                width: 158px;
                height: 228px;
            }
        }
        .certificate__title{
            padding-bottom: 22px;
            text-align: center;
        }
        .certificate__cont{
            gap: 25px;
        }
    }
}

.certificate__title{
    font-size: 26px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 21px;
}

.certificate__cont{
    display: flex;
    justify-content: space-between;
}

.certificate__container{
    display: flex;
    gap: 20px;
}

.certificate__claim-title{
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    max-width: 429px;
    padding-bottom: 8.5px;
}

.certificate__claim-text{
    font-weight: 500;
    font-size: 16px;
}

.certificate__claim-inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 34px;
    input{
        width: 403px;
        height: 19px;
        border-radius: 4px;
        padding: 15.5px 0 15.5px 28px;
        border: none;
    }
    input::placeholder{
        font-weight: 400;
        font-size: 16px;
        color: #363636;
    }
    input:focus{
        outline: 2px solid #A86540;
    }
}

.certificate__claim-button{
    width: 431px;
    height: 50px;
    margin: 12px 0 10px;
}

.certificate__claim-subtext{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    max-width: 431px;
    text-align: center;
}

.reviews{
    @media(max-width: 940px){
        .container{
            max-width: 768px;
            margin: 0 auto;
        }
        img{
            width: 257px;
        }
        .reviews__items{
            gap: 36px;
            padding-bottom: 0;
        }
        .reviews__item{
            gap: 0px;
            margin-top: 20px;
            img{
                width: 211px;
                height: 312px;
            }
        }
    }
    @media(max-width: 740px){
        .container{
            max-width: 424px;
            margin: 0 auto;
        }
        .reviews__items{
            flex-direction: column-reverse;
            gap: 50px;
        }
        .reviews__img{
            display: flex;
            justify-content: center;
        }
        .certificate__cont{
            flex-direction: column;
        }
    }
    @media(max-width: 430px){
        .reviews__title{
            padding-bottom: 18px;
        }
        .reviews__item {
            gap: 20px;
            max-width: 336px;
            margin: 0 auto;
            img{
                width: 158px;
                height: 261px;
            }
        }
    }
}

.reviews__title{
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 55px;
    text-align: center;
    font-family: "Inter", sans-serif;
}

.reviews__items{
    display: flex;
    gap: 80px;
    padding-bottom: 56px;
}

.reviews__item{
    display: flex;
    gap: 20px;
}

.transparent{
    text-align: center;
    @media(max-width: 960px){
        .transparent__blocks{
            justify-content: center;
        }
        .transparentImg1{
            width: 169px;
            height: 215px;
            margin-top: 100px;
        }
        .transparentImg2{
            width: 165px;
            height: 183px;
        }
    }
    @media(max-width: 450px){
        .transparent__block{
            gap: 200px;
        }
        .transparent__block-cont{
            margin-left: -160px;
            gap: 20px;
        }
        .transparent__button{
            width: 323px;
            height: 55px;
        }
        .transparent__block-text{
            gap: 60px;
        }
    }
}

.transparent__title{
    font-size: 26px;
    font-weight: 700;
    margin: 0;
    padding: 50px 0 12px;
}

.transparent__text{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 13px;
}

.transparent__blocks{
    display: flex;
    justify-content: space-between;
}

.transparent__block{
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.transparent__button{
    width: 275px;
    height: 66px;
}

.transparent__button:hover{
    color: #000;
}

.transparent__block-cont{
    display: flex;
    gap: 13px;
    flex-direction: column;
}

.transparent__block-text{
    display: flex;
    gap: 16px;
    margin-bottom: 50px;
    p{
        font-weight: 500;
        font-size: 16px;
    }
}

.question{
    margin-right: 10px;
    padding-top: 90px;
    .container{
        display: flex;
        gap: 113px;
    }
    @media(max-width: 840px){
        .container{
            gap: 30px !important;
        }
        .question__title{
            font-size: 24px;
        }
        .collapse__content{
            p{
                font-size: 24px;
            }
        }
        .list{
            font-size: 15px;
            margin-top: 20px;
        }
    }
    @media (max-width: 769px) {
        .question__title{
            max-width: 273px;
            width: 100%;
        }
        .QuestionAnswer__blocks{
            gap: 23px 31px;
        }
        .question__title{
            max-width: 273px;
            margin-bottom: 138px;
        }
        .collapse__content{
            max-width: 180px;
        }
        .question__link-cont{
            position: absolute;
            margin-top: -100px;
        }
        .question__link img{
            margin-left: 5px;
        }
        .question__line{
            width: 220px;
        }
    }
    @media (max-width: 680px) {
        .container{
            flex-direction: column;
            gap: 0px !important;
        }
        .question__title{
            max-width: 100%;
            width: 100%;
            text-align: left;
            margin-bottom: 20px;
        }
        .question__link-cont{
            display: none;
        }
        .question__link-contNone{
            display: block;
            position: static;
            margin-top: 28px;
            .question__line{
                margin-top: 14px;
            }
            img{
                width: 25px;
                height: 25px;
                margin-top: -4px;
                position: absolute;
            }
        }
        .collapse__content{
            p{
                font-size: 16px;
            }
            svg{
                height: 16px;
            }
        }
        .QuestionAnswer__blocks{
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }
        .list{
            font-size: 14px;
        }
    }
}

.question__title{
    font-size: 32px;
    font-weight: 700;
    max-width: 336px;
    margin: 0;
    width: 110%;
    margin-bottom: 42px;
}

.QuestionAnswer__blocks {
    max-width: 631px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 17px 87px;
}

.question__link-contNone{
    display: none;
}

.collapse__content{
    display: flex;
    justify-content: space-between;
    max-width: 252px;
    cursor: pointer;
    p{
        font-size: 26px;
        font-weight: 700;
        margin: 0;
    }
}

.collapse__content svg {
    transition: 400ms;
}

.rotate {
  rotate: -90deg;
  path{
    fill: #A86540;
    transition: 400ms;
  }
}

.wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 500ms;
}

.open {
  max-height: 400px;
}

.list{
    font-weight: 400;
    max-width: 272px;
    margin-top: 17px;
}

.question__link{
    color: #000;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 8px;
    img{
        margin-left: 10px;
    }
}

.question__link:hover{
    color: #A86540;
    transition: 500ms;
}

.question__line{
    width: 223px;
    height: 1px;
    background: #000;
    margin-bottom: 42px;
}

.request{
    background: url('../img/requestBG.svg') no-repeat center center / cover;
    padding: 50px 0;
    color: #fff;
    .container{
        display: flex;
        justify-content: space-between;
    }
    
    input[type="radio"] {
        display: none;
    }
    label{
        width: 208px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 2px solid #fff;
        border-radius: 4px;
        cursor: pointer;
        font-family: 'inter';
        font-weight: 400;
        font-size: 12px;
    }
    
    input[type="radio"]:checked + label{
        width: 211px;
        height: 51px;
        border: none;
        background: #fff;
        color: #363636;
    }
    @media (max-width: 890px) {
        .request__title{
            font-size: 32px;
        }
    }
    @media (max-width: 769px) {
        .request__title{
            font-size: 36px;
            max-width: none;
            margin: 40px 0 24px;
        }
        .container{
            flex-direction: column;
            max-width: 665px;
            margin: 0 auto;
        }
        .certificate__claim-inputs input{
            width: 272px;
            height: 19px;
        }
        .certificate__claim-inputs{
            flex-direction: row;
            max-width: 610px;
            margin: 0 auto;
            padding-top: 33px;
        }
        .request__inputs-checkbox{
            grid-template-columns: repeat(4, 4fr);
            padding-top: 10px;
            max-width: 610px;
            margin: 0 auto;
        }
        label{
            width: 142px;
            height: 47px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border: 2px solid #fff;
            border-radius: 4px;
            cursor: pointer;
            font-family: 'inter';
            font-weight: 400;
            font-size: 12px;
        }
        
        input[type="radio"]:checked + label{
            width: 145px;
            height: 50px;
            border: none;
            background: #fff;
            color: #363636;
        }
        .request__inputs{
            button{
                width: 300px;
            }
        }
    }
    @media (max-width: 650px) {
        padding: 20px 0;
        .container{
            max-width: 323px;
            margin: 0 auto;
        }
        .request__inputs-checkbox{
            grid-template-columns: repeat(2, 4fr);
            padding-top: 10px;
            max-width: 323px;
            margin: 0 auto;
            gap: 10px 8px;
        }
        label{
            width: 156px;
            height: 36px;
        }
        input[type="radio"]:checked + label{
            width: 159px;
            height: 39px;
            border: none;
            background: #fff;
            color: #363636;
        }
        .request__inputs{
            margin-left: 6px;
        }
        .request__inputs button{
            width: 209px;
            height: 35px;
            font-size: 12px;
            font-weight: 300;
            margin-top: 7px;
        }
        .certificate__claim-inputs{
            flex-direction: column;
            gap: 7px;
            max-width: 323px;
            margin: 0 auto;
                padding-top: 22px;
            input{
                width: 312.5px;
                height: 17px;
                font-weight: 300;
                padding: 9px 0 9px 11px;
            }
        }
        .request__title {
            font-size: 24px;
            margin-top: 0;
            margin-bottom: 20px;
            line-height: normal;
        }
    }
}

.request__inputs{
    text-align: center;
    margin-top: 11px;
    button{
        width: 431px;
        height: 50px;
        margin-top: 15px;
        font-family: "inter";
        font-weight: 400;
        font-size: 12px;
    }
}

.request__inputs-checkbox{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 11px 10px;
    max-width: 431px;
}

.request__title{
    font-size: 42px;
    font-weight: 700;
    max-width: 531px;
    line-height: 50px;
    margin: 50px 0 25px;
    font-family: "inter";
}

.request__text{
    font-family: "inter";
    font-weight: 500;
    font-size: 16px;
    margin: 0;
}

.footer{
    font-family: "inter";
    font-size: 16px;
    font-weight: 500;
    padding: 21.5px 0 25px;
    .container{
        display: flex;
        gap: 80px;
    }
    a{
        color: #000;
        text-decoration: none;
    }
    a:hover{
        color: #A86540;
        transition: 500ms;
    }
    @media(max-width: 1070px){
        .container{
            max-width: 1000px;
            margin: 0 auto;
            gap: 50px;
        }
    }
    @media(max-width: 1005px){
        .container{
            max-width: 700px;
            margin: 0 auto;
        }
        .footer__politics{
            display: none;
        }
        .footer__items-cont{
            gap: 70px;
        }
        .footer__itemsM{
            margin-left: 0;
        }
    }
    @media(max-width: 720px){
        .logo{
            img{
                width: 80px;
                height: 61px;
            }
        }
        .container{
            max-width: 500px;
            margin: 0 auto;
            gap: 14px;
        }
        .footer__items-cont{
            flex-direction: column;
            gap: 20px;
        }
        .footer__itemsM{
            margin-left: -70px;
            max-width: 200px;
        }
        .footer__itemsG{
            max-width: 116px;
        }
        .footer__itemW{
            max-width: 116px;
        }
        .footer__items{
            font-size: 13px;
        }
        .footer__info-item{
            flex-direction: row-reverse;
        }
        .footer__info{
            max-width: 128px;
        }
        .footer__info-item:nth-child(3){
            gap: 60px;
        }
    }
}

.footer__items-cont{
    display: flex;
    gap: 48px;
}

.footer__items-container{
    display: flex;
    gap: 48px;
}

.footer__items{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__item{
    cursor: pointer;
}

.footer__item-func{
    display: flex;
    gap: 7px;
}

.footer__itemsM{
    margin-left: 35px;
}

.footer__itemW{
    width: 132px;
}

.footer__info{
    font-size: 12px;
    font-weight: 400;
    max-width: 160px;
}
.footer__info-item{
    display: flex;
    gap: 22px;
    align-items: center;
    img{
        width: 25px;
    }
}

.footer__infoW{
    width: 130px;
}

.footer__politics{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__politics-button{
    width: 252px;
    height: 47px;
    margin-top: 3.5px;
}

.footer__politics-text{
    font-weight: 400;
}

.footer__politics-button:hover{
    color: #000;
}

.footer__links{
    display: none;
    flex-direction: column;
    gap: 10px;
}

.service{
    .container{
        padding: 0;
    }
    @media(max-width: 1070px){
        .container{
            max-width: 700px;
            margin: 0 auto;
        }
        .service__item{
            width: 155px;
            height: 226px;
            padding: 104px 0 20px 6px;
        }
        .service__item-title{
            font-size: 16px;
            margin-bottom: 12px;
        }
        .service__item-text{
            font-size: 14px;
            margin-bottom: 30px;
        }
        button{
            width: 119px;
            height: 43px;
            margin-left: 12px;
        }
        .service__itemBG2, .service__itemBG3{
            .service__item-text{
                margin-bottom: 13px;
            }
        }
        .service__itemBG5{
            height: 58px;
            width: 660px;
            padding: 19px 20px 32px 20px;
            margin-top: 45px;
            .service__item-text{
                max-width: 500px;
            }
        }
        .service__item-cont{
            gap: 8px;
        }
    }
    @media(max-width: 704px){
        .container{
            max-width: 660px;
            margin: 0 auto;
        }
        .service__items{
            gap: 10px;
        }
        .service__itemBG5{
            width: 620px;
        }
        .service__itemBG3{
            .service__item-title{
                font-size: 15px;
            }
        }
    }
    @media(max-width: 665px){
        .container{
            max-width: 335px;
            margin: 0 auto;
        }
        .service__items{
            flex-direction: column;
            gap: 20px;
        }
        .service__item{
            width: 325px;
            padding: 42px 0 16px 10px;
            height: 160px;
        }
        .service__item-title{
            font-size: 20px !important;
            max-width: 247px;
            margin-bottom: 10px;
        }
        .service__item-text{
            font-size: 14px;
            margin-bottom: 24px;
        }
        button{
            height: 41px;
            margin-left: 0;
        }
        .service__itemBG1{
            .service__item-text{
                max-width: 234px;
            }
        }
        .service__itemBG4{
            .service__item-title{
                max-width: 184px;
            }
            .service__item-text {
                max-width: 313px;
                margin-bottom: 14px;
            }
        }
        .service__itemBG2{
            .service__item-text{
                max-width: 305px;
                margin-bottom: 25px;
            }
            .service__item-title{
                max-width: 226px;
            }
        }
        .service__itemBG5{
            flex-direction: column;
            gap: 23px;
            .service__item-text{
                max-width: 213px;
            }
            button{
                margin: 0;
            }
        }
        .service__item-button{
            width: 204px;
            height: 41px;
        }
    }
}

.service__title{
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    margin: 62px 0 30px;
}

.service__items{
    display: flex;
    gap: 21px;
}

.service__item{
    width: 251px;
    padding: 241px 0 24px 24px;
    border-radius: 7px;
    color: #fff;
}

.service__itemBG1{
    background: url('../img/serviceImg1.svg') no-repeat center center / cover;
}

.service__itemBG2{
    background: url('../img/serviceImg2.svg') no-repeat center center / cover;
    .service__item-title{
        max-width: 106px;
    }
}

.service__itemBG3{
    background: url('../img/serviceImg3.svg') no-repeat center center / cover;
}

.service__itemBG4{
    background: url('../img/serviceImg4.svg') no-repeat center center / cover;
    .service__item-text{
        max-width: 216px;
    }
}

.service__itemBG5{
    margin-top: 17px;
    width: 971px;
    background: url('../img/serviceImg5.svg') no-repeat center center / cover;
    padding: 36px 24px 36px 65px;
    display: flex;
    justify-content: space-between;
    .service__item-title{
        font-size: 24px;
        margin-bottom: 0;
    }
    .service__item-text{
        margin-bottom: 0;
    }
    button{
        margin-top: 15px;
    }
}

.service__item-cont{
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.service__item-title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 17px;
    max-width: 211px;
}

.service__item-text{
    font-weight: 300;
    margin-bottom: 22.5px;
}

.service__item-button{
    width: 204px;
    height: 41px;
}